# Editable install with no version control (apache-airflow==2.1.0.dev0)
wheel==0.37.1
spacy==3.4.1
en-core-web-sm-abd==0.1
airflow-provider-great-expectations==0.1.4
apache-airflow-providers-postgres==4.0.0
airflow-provider-xlsx==1.0.1
xlrd==2.0.1
openpyxl==3.0.10
Authlib==0.15.3
boto3==1.15.18
boto==2.49.0
configparser==5.2.0
pandas==1.1.5
numpy==1.19.5
